.resultsList {

    justify-content: left;
    margin:0;
    padding: 0;
    display:inline-block;
    border-color: black;
    padding-top: 2rem;

}

ol li {
    text-align: left;
}

.resultContainer {
    border: 1px darkblue inset ;
    background-color: lightgray;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    /* width: 70%; */
    /* height: 70%; */
  }