.sliderContainer {
	box-sizing: border-box;
	margin: 0 20%;
}

.rc-slider.rc-slider-with-marks {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.rc-slider-rail {
	position: absolute;
	width: 100%;
	background-color: #e9e9e9;
	height: 8px;
	border-radius: 6px;
}
.rc-slider-track {
	position: absolute;
	left: 0;
	height: 8px;
	border-radius: 6px;
	background-color: #abe2fb;
}

.rc-slider-handle {
	position: absolute;
	width: 18px;
	height: 18px;
	cursor: pointer;
	cursor: -webkit-grab;
	margin-top: -5px;
	cursor: grab;
	border-radius: 50%;
	border: solid 2px #96dbfa;
	background-color: #fff;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}
.rc-slider-dot {
	position: absolute;
	bottom: -5px;
	margin-left: -4px;
	width: 10px;
	height: 10px;
	border: 2px solid #e9e9e9;
	background-color: #fff;
	cursor: pointer;
	border-radius: 50%;
	vertical-align: middle;
}
.rc-slider-dot-active {
	border-color: #96dbfa;
}
